.wrapper {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	@media (max-width: 425px) {
		padding: 20px 0px 0px 0px;
	}

	button {
		font-size: 24px;
		font-weight: 500;
		color: #474955;

		@media (max-width: 425px) {
			font-size: 16px;
      font-weight: 600;
		}
	}

	.pages {
		display: flex;
		gap: 7px;
		align-items: center;
		.page__item {
			color: #474955;
			font-weight: 700;
			cursor: pointer;
			font-size: 18px;

			&_active {
				color: #7ebc3c;
			}
		}
	}
}
